<html th:replace="~{admin/adminbase::layout(~{::section})}">
<head>

</head>

<body>
	<section>
		
		<form method="post" th:object="${dto}">
			<div class="row">
				<div class="col-sm-10 p-4 bg-white shadow mx-auto">
					<div class="row pb-3">
			<div class="col-sm-3">
				<a href="uploadquestion" class="btn bg-orange px-3 py-2 rounded-0" style="background-color: orangered;">Upload Bulk Question</a>
			</div>
			<div class="col-sm-6">
				<h1 class="text-center text-primary">Add Question</h1>
			</div>
			<div class="col-sm-3">
				<a href="questionbank" class="btn bg-orange px-3 py-2 rounded-0" style="background-color: orangered;">View Question Bank</a>
			</div>
		</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="fw-bold">Enter Question</label> <br>
							<textarea th:field="${dto.question}" rows="2" class="form-control rounded-0 border border-black bg-white" placeholder="Enter your Question..."></textarea>
						</div>

						<div class="col-sm-6 p-2">
							<label class="fw-bold">Enter Option A </label><br> 
							<input th:field="${dto.a}" type="text" class="form-control rounded-0 border border-black bg-white" placeholder="Option a...">
						</div>
						<div class="col-sm-6 p-2">
							<label class="fw-bold">Enter Option B </label><br> 
							<input th:field="${dto.b}" type="text" class="form-control rounded-0 border border-black bg-white" placeholder="Option b...">
						</div>

						<div class="col-sm-6 p-2">
							<label class="fw-bold">Enter Option C </label><br> 
							<input th:field="${dto.c}" type="text" class="form-control rounded-0 border border-black bg-white" placeholder="Option c...">
						</div>
						<div class="col-sm-6 p-2">
							<label class="fw-bold">Enter Option D </label><br> 
							<input th:field="${dto.d}" type="text" class="form-control rounded-0 border border-black bg-white" placeholder="Option d...">
						</div>

						<div class="col-sm-6 p-2">
							<label class="fw-bold">Select Correct Option</label> 
							<select th:field="${dto.correct}" class="form-control rounded-0 border border-black bg-white">
								<option value="A">Option A</option>
								<option value="B">Option B</option>
								<option value="C">Option C</option>
								<option value="D">Option D</option>
							</select>
						</div>
						<div class="col-sm-6 p-2">
							<label class="fw-bold">Select Course</label> 
							<select th:field="${dto.course}" class="form-control rounded-0 border border-black bg-white">
								<option value="">-Select Course-</option>
								<option value="BCA">BCA</option>
                            	<option value="MCA">MCA</option>
                            	<option value="Diploma">Diploma</option>
                            	<option value="B. Tech">B. Tech</option>
                            	<option value="M. Tech">M. Tech</option>
							</select>
						</div>
						
						<div class="col-sm-6 p-2">
							<label class="fw-bold">Select Branch</label> 
							<select th:field="${dto.branch}" class="form-control rounded-0 border border-black bg-white">
                             	<option value="IT">IT</option>
                            	<option value="CS">CS</option>
                            	<option value="AI/ML">AI/ML</option>
                            	<option value="Electronics">Electronics</option>
							</select>
						</div>
						
						<div class="col-sm-6 p-2">
							<label class="fw-bold">Select Year</label> 
							<select class="form-control rounded-0 border border-black bg-white" th:field="${dto.year}">
                            	<option value="1st year">1st Year</option>
                            	<option value="2nd year">2nd Year</option>
                            	<option value="3rd year">3rd Year</option>
                            	<option value="4th year">4th Year</option>
                        	</select>
						</div>
						
						<div class="col-sm-12 py-2 pt-3 text-center">
							<button type="submit" class="btn btn-primary rounded-0 px-3 py-2">Add Question</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>