<html th:replace="~{base::layout(~{::section})}">
	<head></head>
	<body>
		<section>
			<!-- slider like image start -->
    <div class="row header-slider-course m-0">
      <div class="col-sm-12 p-0">
        <div class="row py-5 m-0">
          <div class="col-sm-10 mx-auto mt-5 pt-5">
            <h3>Courses<span style="color: #FFA500; margin-left: -20px;">_______</span></h3>
            <h6 class="text-end text-white"><a href="index.html" style="color:white;text-decoration:none"><i
                  class="fa-solid fa-house"></i> Home</a> / Courses</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- slider like image end -->
			<!-- main start -->
    <div class="row m-0 py-5">
      <div class="col-sm-10 mx-auto">
        <div class="d-flex" data-aos="fade-up" data-aos-offset="100"
        data-aos-duration="1000">
          <p class="m-0" style="color:rgb(170, 168, 168);">COURSES</p>
          <hr class="w-25 text-orange">
        </div>
        <h2 class="fw-bold" data-aos="fade-up" data-aos-offset="100"
        data-aos-duration="1000">OUR <span class="text-brown">COURSES DETAIL</span></h2>
        <div class="d-flex text-center mx-auto py-3 px-5" style="justify-content:space-around" data-aos="fade-up" data-aos-offset="100"
        data-aos-duration="1000">
          <a href="" class="course-btn" style="background-color:#FFA500;">ALL</a>
          <a href="" class="course-btn">UG Courses</a>
          <a href="" class="course-btn">PG Courses</a>
          <a href="" class="course-btn">Diploma Courses</a>
          <a href="" class="course-btn">Certification Courses</a>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/bba.png" class="img-fluid px-2" />
              <h5 class="mt-3">Bachelor in Business Administration</h5>
              <h6 class="my-2 pt-2">Under Graduation Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 3 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/bca.png" class="img-fluid px-2" />
              <h5 class="mt-3">Bachelor in Computer Application</h5>
              <h6 class="my-2 pt-2">Under Graduation Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 3 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/bag.png" class="img-fluid px-2" />
              <h5 class="mt-3">Bachelor of Arts(Geography)</h5>
              <h6 class="my-2 pt-2">Under Graduation Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 3 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/bcom.png" class="img-fluid px-2" />
              <h5 class="mt-3">Bachelor of Commerce (B.Com.)</h5>
              <h6 class="my-2 pt-2">Under Graduation Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 3 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/blis.png" class="img-fluid px-2" />
              <h5 class="mt-3">Bachelor of Library & Information Science</h5>
              <h6 class="my-2 pt-2">Under Graduation Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 1 year</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/bsc.png" class="img-fluid px-2" />
              <h5 class="mt-3">Bachelor of Science(Chemistry)</h5>
              <h6 class="my-2 pt-2">Under Graduation Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 3 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/ma(env).png" class="img-fluid px-2" />
              <h5 class="mt-3">Master of Arts (Environmental Science)</h5>
              <h6 class="my-2 pt-2">Post Graduation Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 2 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/ma(sanskrit).png" class="img-fluid px-2" />
              <h5 class="mt-3">Master of Arts(Sanskrit)</h5>
              <h6 class="my-2 pt-2">Post Graduation Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 2 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/mca.png" class="img-fluid px-2" />
              <h5 class="mt-3">Bachelor of Science(Chemistry)</h5>
              <h6 class="my-2 pt-2">Post Graduation Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 2 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/mcom.png" class="img-fluid px-2" />
              <h5 class="mt-3">Master of Commerce</h5>
              <h6 class="my-2 pt-2">Post Graduation Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 2 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/msc.png" class="img-fluid px-2" />
              <h5 class="mt-3">Master of Science(Physics)</h5>
              <h6 class="my-2 pt-2">Post Graduation Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 2 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/mlis.png" class="img-fluid px-2" />
              <h5 class="mt-3">Master in Library and Information Science</h5>
              <h6 class="my-2 pt-2">Post Graduation Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 2 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/pgdfm.png" class="img-fluid px-2" />
              <h5 class="mt-3">PG Diploma in Financial Management</h5>
              <h6 class="my-2 pt-2">Diploma Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 2 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/pgdhet.png" class="img-fluid px-2" />
              <h5 class="mt-3">Post Graduation Diploma (Hindi-English Translate)</h5>
              <h6 class="my-2 pt-2">Diploma Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 2 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/pgdys.png" class="img-fluid px-2" />
              <h5 class="mt-3">Post Graduation Diploma (Yogic Studies)</h5>
              <h6 class="my-2 pt-2">Diploma Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 2 years</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/pgdipr.png" class="img-fluid px-2" />
              <h5 class="mt-3">Post Graduation Diploma (Information and Public Relations)</h5>
              <h6 class="my-2 pt-2">Diploma Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 2 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/pgdmm.png" class="img-fluid px-2" />
              <h5 class="mt-3">Post Graduation Diploma (Marketing Management)</h5>
              <h6 class="my-2 pt-2">Diploma Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 2 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/pgdjmc.png" class="img-fluid px-2" />
              <h5 class="mt-3">Post Graduation Diploma (Journalism & Mass Communication)</h5>
              <h6 class="my-2 pt-2">Diploma Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 2 years</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/cacl.png" class="img-fluid px-2" />
              <h5 class="mt-3">Certificate in Abolition of Child Labour</h5>
              <h6 class="my-2 pt-2">Certification Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 1 year</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/caimvs.png" class="img-fluid px-2" />
              <h5 class="mt-3">Certificate in Artificial Insemination and Minor Veterinary Services</h5>
              <h6 class="my-2 pt-2">Certification Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 1 year</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/cbep.png" class="img-fluid px-2" />
              <h5 class="mt-3">Certificate in Bio-Fertilizer Production</h5>
              <h6 class="my-2 pt-2">Certification Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 1 year</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/cbl.png" class="img-fluid px-2" />
              <h5 class="mt-3">Certificate in Bhojpuri Language</h5>
              <h6 class="my-2 pt-2">Certification Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 1 year</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/cbmanc.png" class="img-fluid px-2" />
              <h5 class="mt-3">Certificate in Basic Medical Assessment and Nursing Care</h5>
              <h6 class="my-2 pt-2">Certification Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 1 year</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-4" style="display:flex;justify-content:center;">
            <div class="course-card text-center bg-white py-3 px-1" data-aos="zoom-in" data-aos-offset="100"
            data-aos-duration="1000">
              <img src="img/courses/ccpg.png" class="img-fluid px-2" />
              <h5 class="mt-3">Certificate in Child Psychology and Guidance</h5>
              <h6 class="my-2 pt-2">Certification Course</h6>
              <p class="pb-3"><strong style="color:#ED6B0D;">Duration</strong>: 1 year</p>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- main end -->
			
		</section>
	</body>
</html>