<html th:replace="~{base::layout(~{::section})}">
<head>
</head>

<body>
<section>
		<!-- slider like image start -->
        <div class="row header-slider m-0">
            <div class="col-sm-12 p-0 position-relative">
                
               <div class="slider-heading position-absolute text-end" style="top:50%;right:10%">
                   <h3 style="font-family:'Raleway',sans-serif;font-size:15px;color:white;">Get Educated</h3>
                   <h2 class="mb-4">From Our Content <br/> For Distance Learning</h2>
                   <h4>NOU-e-Gyan PORTAL, CONCEPT BY NALANDA OPEN UNIVERSITY</h4>
               </div>  
            </div>
        </div>
        <!-- slider like image end -->
		
	        <!-- marquee start -->
        <div class="row bg-orange py-1 m-0">
            <div class="col-sm-12">
                <marquee scrollamount="12" onmousemove="this.stop()" onmouseout="this.start()">
                        <p class="ab-box me-3">The portal is easy to access &amp; highly user <br>friendly for the students &amp; study centres.</p>
                        <p class="ab-box me-3">The portal is fully secured and accessible <br>24 x 7 to its authorised users.</p>
                        <p class="ab-box">The portal is easy to access &amp; highly user<br> friendly for the students &amp; study centres.</p>
                    </marquee>
            </div>
        </div>
        <!-- marquee end -->

        <!-- about the portal start -->
        <div class="row py-5 px-5 m-0">
            <div class="col-lg-6 px-5 py-2" data-aos="fade-up" data-aos-offset="100"
            data-aos-duration="2000">
                <div class="d-flex">
                    <p class="m-0" style="color:rgb(170, 168, 168);">DESCRIPTION</p>
                    <hr class="w-25 h-25 text-orange">
                </div>
                <h2 class="fw-bold">About <span class="text-brown">NOU e-GYAN PORTAL</span></h2>
                <p class="my-4" style="text-align: justify; font-family:'Poppins',sans-serif;font-size:15.2px"><span
                        class="text-dark fw-bold">Nalanda Open University</span> welcomes all our students, faculties &
                    study centres to the very new &
                    innovative online study portal <span class="text-dark fw-bold">NOU e-Gyan</span>. The portal is a unique initiative by Hon'ble
                    Vice-Chancellor <span class="text-dark fw-bold">Prof. (Dr.) K C Sinha</span>, which aims at providing online study material to
                    the students
                    of NOU.</p>
                <p class="my-4" style="text-align: justify;font-family:'Poppins',sans-serif;font-size:15.2px">The portal is accessible
                    from any hook and corner of the world if the system allows the permission to
                    its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve
                    the academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress
                    Monitoring & Controlling of all stakeholders of the system i.e. students, teachers, study centre
                    administrators as well as Nalanda Open University Admins when they are at a distance.</p>
            </div>
            <div class="col-lg-6 d-flex align-items-center position-relative" data-aos="fade-up" data-aos-offset="100"
            data-aos-duration="2000">
                <img src="img/slider1.jpg" class="pt-5 img-fluid p-2" />
                
                <div class="frame-card-container">
                    <div class="frame-card">
                        <a href="https://youtu.be/jVl8uLz8f9w" class=" play-btn " data-lity="" data-lity-target="https://youtu.be/jVl8uLz8f9w"></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- about the portal end -->

        <!-- users of the portal start -->
        <div class="row users-portal m-0 p-0">
            <div class="col-sm-12 p-0 pt-5 pb-3" style="background-color:rgba(0,0,0,0.45)">
                <div class="row m-0">
                    <div class="col-sm-11 mx-auto">
                        <div class="d-flex px-4">
                            <p class="m-0" style="color:rgb(170, 168, 168);">PORTAL</p>
                            <hr class="w-25 text-orange">
                        </div>
                        <h2 class="fw-bold px-4">Users <span class="text-brown">of the Portal</span></h2>
                        <div class="row pt-2">
                            <div class="col-lg-4 col-md-12 p-5">
                                <div class="user-card p-3">
                                    <div class="user-card-inner p-4 text-center position-relative">
                                        <a href=""><i class="fa-solid fa-lock mt-4"></i></a>
                                        <p class="py-3 my-2">The university admin can login to monitor the portal,
                                            provide access to
                                            authorised stake holders & upload study material.</p>
                                        <button class="btn bg-orange text-darkbrown">University Admin</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 p-5">
                                <div class="user-card p-3">
                                    <div class="user-card-inner p-4 text-center position-relative">
                                        <a href=""><i class="fa-solid fa-lock mt-4"></i></a>
                                        <p class="py-3 my-2">The university admin can login to monitor the portal,
                                            provide access to
                                            authorised stake holders & upload study material.</p>
                                        <button class="btn bg-orange text-darkbrown">Study Center</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 p-5">
                                <div class="user-card p-3">
                                    <div class="user-card-inner p-4 text-center position-relative">
                                        <a href=""><i class="fa-solid fa-lock mt-4"></i></a>
                                        <p class="py-3 my-2">The university enrolled students can login to view the
                                            notification by university, access the e-contents, give assignments & track
                                            thier progress report.</p>
                                        <button class="btn bg-orange text-darkbrown">NOU Students</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- users of the portal end -->

        <!-- Student services start -->
        <div class="row m-0 py-5">
            <div class="col-sm-11 mx-auto px-3">
                <div class="d-flex">
                    <p class="m-0" style="color:rgb(170, 168, 168);">FEATURES</p>
                    <hr class="w-25 text-orange">
                </div>
                <h2 class="fw-bold">STUDENT <span class="text-brown">SERVICES</span></h2>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3">
                        <div class="service-card text-center">
                            <div class="service-card-top border border-2 border-bottom-0">
                                <img src="img/registration.jpg" class="img-fluid" />
                            </div>
                            <div class="service-card-bottom bg-brown text-center text-white py-2 d-flex align-items-center justify-content-center" style="height:70px">
                                Login
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3">
                        <div class="service-card text-center">
                            <div class="service-card-top border border-2 border-bottom-0">
                                <img src="img/dashboard.jpg" class="img-fluid" />
                            </div>
                            <div class="service-card-bottom bg-brown d-flex align-items-center justify-content-center text-white py-2" style="height:70px">
                                Dashboard
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3">
                        <div class="service-card text-center">
                            <div class="service-card-top border border-2 border-bottom-0">
                                <img src="img/online-courses.jpg" class="img-fluid" />
                            </div>
                            <div class="service-card-bottom bg-brown d-flex align-items-center justify-content-center text-white py-2" style="height:70px">
                                Self Learning Material (SLM)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3">
                        <div class="service-card text-center">
                            <div class="service-card-top border border-2 border-bottom-0">
                                <img src="img/e-lectures.jpg" class="img-fluid" />
                            </div>
                            <div class="service-card-bottom bg-brown d-flex align-items-center justify-content-center text-white py-2" style="height:70px">
                                e-Books
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3">
                        <div class="service-card text-center">
                            <div class="service-card-top border border-2 border-bottom-0">
                                <img src="img/self-assessment.svg" class="img-fluid" />
                            </div>
                            <div class="service-card-bottom bg-brown d-flex align-items-center justify-content-center text-white py-2" style="height:70px">
                                Self Assessment Tools
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3">
                        <div class="service-card text-center">
                            <div class="service-card-top border border-2 border-bottom-0">
                                <img src="img/performance.jpg" class="img-fluid" />
                            </div>
                            <div class="service-card-bottom bg-brown d-flex align-items-center justify-content-center text-white py-2" style="height:70px">
                                Performance
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3">
                        <div class="service-card text-center">
                            <div class="service-card-top border border-2 border-bottom-0">
                                <img src="img/feedback.jpg" class="img-fluid" />
                            </div>
                            <div class="service-card-bottom bg-brown d-flex align-items-center justify-content-center text-white py-2" style="height:70px">
                                Feedback
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3">
                        <div class="service-card text-center">
                            <div class="service-card-top border border-2 border-bottom-0">
                                <img src="img/course-catlog.jpg" class="img-fluid" />
                            </div>
                            <div class="service-card-bottom bg-brown d-flex align-items-center justify-content-center text-white py-2" style="height:70px">
                                Courses-Catalogue
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Student services end -->

        <!-- Administrative start -->
        <div class="row m-0 py-5" style="background-color:#CCCCCC;">
            <div class="col-sm-11 mx-auto px-5">
                <div class="d-flex" data-aos="fade-right" data-aos-offset="100"
                data-aos-duration="2000">
                    <p class="m-0" style="color:rgb(170, 168, 168);">OUR MENTORS</p>
                    <hr class="w-25 text-orange">
                </div>
                <h2 class="fw-bold" data-aos="fade-right" data-aos-offset="100"
                data-aos-duration="2000">ADMINISTRATIVE <span class="text-brown">SETUP</span></h2>
                <div class="row pt-3">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center px-4 py-3">
                        <div class="administrative-card rounded py-3" data-aos="fade-up" data-aos-offset="100"
                        data-aos-duration="2000">
                            <img src="img/vc.jpg" class="img-fluid rounded-circle img-thumbnail"
                                alt="image not available" />
                            <h2 class="text-brown my-3">Prof. (Dr.) K. C. Sinha</h2>
                            <p class="m-0">VICE CHANCELLOR</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center px-4 py-3">
                        <div class="administrative-card rounded py-3" data-aos="fade-up" data-aos-offset="100"
                        data-aos-duration="2000">
                            <img src="img/pvc.jpg" class="img-fluid rounded-circle img-thumbnail"
                                alt="image not available" />
                            <h2 class="text-brown my-3">Prof. (Dr.) Sanjoy Kumar</h2>
                            <p class="m-0">PRO VICE CHANCELLOR</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center px-4 py-3">
                        <div class="administrative-card rounded py-3" data-aos="fade-up" data-aos-offset="100"
                        data-aos-duration="2000">
                            <img src="img/registrar1.jpeg" class="img-fluid rounded-circle img-thumbnail"
                                alt="image not available" />
                            <h2 class="text-brown my-3">Dr. Md. Habibur Rahman</h2>
                            <p class="m-0">REGISTRAR</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center px-4 py-3">
                        <div class="administrative-card rounded py-3" data-aos="fade-up" data-aos-offset="100"
                        data-aos-duration="2000">
                            <img src="img/examreg.jpg" class="img-fluid rounded-circle img-thumbnail"
                                alt="image not available" />
                            <h2 class="text-brown my-3">Dr. Neelam Kumari</h2>
                            <p class="m-0">REGISTRAR (Exam)</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Administrative end -->

        <!-- courses start -->
        <div class="row m-0 py-5 bg-light">
            <div class="col-sm-11 mx-auto px-5">
                <div class="d-flex" data-aos="fade-right" data-aos-offset="100"
                data-aos-duration="2000">
                    <p class="m-0" style="color:rgb(170, 168, 168);">COURSES</p>
                    <hr class="w-25 text-orange">
                </div>
                <h2 class="fw-bold" data-aos="fade-right" data-aos-offset="100"
                data-aos-duration="2000">OUR<span class="text-brown">COURSES</span></h2>
                <div class="d-flex" data-aos="fade-left" data-aos-offset="100"
                data-aos-duration="2000" style="justify-content:end;"><button class="btn bg-orange">View all courses</button>
                </div>
                <div class="row">
                    <div class="splide pb-4" role="group" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide p-3" style="display:flex;justify-content:center;">
                                    <div class="course-card text-center px-4 py-4 bg-white" data-aos="fade-up" data-aos-offset="100"
                                    data-aos-duration="2000">
                                        <img src="img/bca.png" alt="Image not available" class="img-fluid" />
                                        <h2 class="fw-bold my-2" style="font-size:20px">Bachelor in Computer
                                            Application(BCA)</h2>
                                        <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        </p>
                                    </div>
                                </li>
                                <li class="splide__slide p-3" style="display:flex;justify-content:center;">
                                    <div class="course-card text-center px-4 py-4 bg-white" data-aos="fade-up" data-aos-offset="100"
                                    data-aos-duration="2000">
                                        <img src="img/cid.png" alt="Image not available" class="img-fluid" />
                                        <h2 class="fw-bold my-2" style="font-size:20px">Certification in Interior
                                            Decoration</h2>
                                        <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        </p>
                                    </div>
                                </li>
                                <li class="splide__slide p-3" style="display:flex;justify-content:center;">
                                    <div class="course-card text-center px-4 py-4 bg-white" data-aos="fade-up" data-aos-offset="100"
                                    data-aos-duration="2000">
                                        <img src="img/mca.png" alt="Image not available" class="img-fluid" />
                                        <h2 class="fw-bold my-2" style="font-size:20px">Master in Computer
                                            Application(M.C.A)</h2>
                                        <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        </p>
                                    </div>
                                </li>
                                <li class="splide__slide p-3" style="display:flex;justify-content:center;">
                                    <div class="course-card text-center px-4 py-4 bg-white" data-aos="fade-up" data-aos-offset="100"
                                    data-aos-duration="2000">
                                        <img src="img/bba.png" alt="Image not available" class="img-fluid" />
                                        <h2 class="fw-bold my-2" style="font-size:20px">Bachelor in Business
                                            Administration(BBA)</h2>
                                        <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- courses end -->

        <!-- tutorial videos start -->
        <div class="row m-0 tutorial">
            <div class="col-sm-12" style="background-color:rgba(0,0,0, 0.4)">
                <div class="row py-3">
                    <div class="col-sm-10  mx-auto text-white">
                        <div class="d-flex">
                            <p class="m-0 fw-bold" style="color:rgb(170, 168, 168);">HOW TO USE</p>
                            <hr class="w-25 text-orange">
                        </div>
                        <h2 class="fw-bold">NOU e-GYAN PORTAL VIDEOS</h2>
                        <p style="font-size:18px;">For any queries regarding the access into the Portal, the users can
                            watch the tutorial videos
                            provided or feel free to communicate their issues via the given contact helpline number or
                            helpline
                            email ID.</p>
                        <div class="row">
                            <div class="col-md-6 px-4 my-2">
                                <iframe class="px-2 py-1" data-aos="zoom-in" data-aos-duration="800" style="border:4px solid #B10400;" width="100%" height="250px"
                                    src="https://www.youtube.com/embed/Sh9VxOBoYbk?si=mpI_1SUvzH29OqWt"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <div style="background:linear-gradient(to right,#920C04, #E78301)"><a href=""
                                        class="py-2 fw-bold">HOW TO LOGIN AT NOU E-GYAN PORTAL</a></div>
                            </div>
                            <div class="col-md-6 px-4 my-2 ">
                                <iframe class="px-2 py-1" data-aos="zoom-in" data-aos-duration="800" style="border:4px solid #B10400;" width="100%" height="250px"
                                    src="https://www.youtube.com/embed/cEaTY8EfdRs?si=BNx9Mde4iPLqCmOn"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <div style="background:linear-gradient(to right,#920C04, #E78301)"><a href=""
                                        class="py-2 fw-bold">HOW TO LOGIN AT NOU E-GYAN PORTAL</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tutorial videos end -->

        <!-- support start -->
        <div class="row m-0 py-5">
            <div class="col-sm-11 mx-auto px-4">
                <div class="d-flex">
                    <p class="m-0" style="color:rgb(170, 168, 168);">HELPDESK</p>
                    <hr class="w-25 text-orange">
                </div>
                <h2 class="fw-bold">ALWAYS<span class="text-brown">HERE TO SUPPORT YOU!</span></h2>

                <div class="row">
                    <div class="col-md-6 px-3 my-auto text-center">
                        <img src="img/helpline.svg" class="img-fluid w-75 p-3" />
                    </div>
                    <div class="col-md-6 px-3">
                        <div class="bg-darkorange text-white p-3 mt-5" data-aos="zoom-in" data-aos-offset="100"
                        data-aos-duration="2000">
                            <p class="m-0"> The helpdesk provides user assistance to navigate and understand the aspects
                                of the portal.
                                This also provides a simple interface for maintenance of studdent information and issues
                                faced.</p>
                        </div>
                        <div class="px-3 py-4 my-2" data-aos="zoom-in" data-aos-offset="100"
                        data-aos-duration="2000"
                            style="border:2px solid rgb(117, 115, 115); font-size:17px; font-weight:500">
                            <i class="fa-solid fa-phone px-3" style="color: #ffc23d; font-size:22px"></i> +91 7080102007
                        </div>
                        <div class="px-3 py-4" data-aos="zoom-in" data-aos-offset="100"
                        data-aos-duration="2000"
                            style="border:2px solid rgb(117, 115, 115); font-size:17px; font-weight:500">
                            <i class="fa-solid fa-envelope px-3" style="color: #ffc23d; font-size:22px"></i>
                            nouegyanhelp@gmail.com
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- support end -->

        <!-- quick links start -->
        <div class="row m-0 py-5" style="background-color:#DDDDDD;">
            <div class="col-sm-11 mx-auto">
                <div class="d-flex">
                    <p class="m-0" style="color:rgb(170, 168, 168);">LINKS</p>
                    <hr class="w-25 text-orange">
                </div>
                <h2 class="fw-bold">QUICK<span class="text-brown">LINKS</span></h2>

                <div class="row pt-2">
                    <div class="splide splide1 pb-3" role="group" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide p-3">
                                    <div class="d-flex bg-white p-1" data-aos="fade-up" data-aos-offset="100"
                                    data-aos-duration="2000" style="border:1px dotted #B10400">
                                        <div class="">
                                            <img src="img/logo1.png" alt="Image not available" width="110px" />
                                        </div>
                                        <div class="text-center px-2 my-auto">
                                            <h2 class="fw-bold text-brown m-0" style="font-size:22px">NOU</h2>
                                            <p class="m-0 mt-2" style="font-size:18px; font-weight:600">NALANDA OPEN
                                                UNIVERSITY</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="splide__slide p-3">
                                    <div class="d-flex bg-white p-1" data-aos="fade-up" data-aos-offset="100"
                                    data-aos-duration="2000" style="border:1px dotted #B10400">
                                        <div class="">
                                            <img src="img/logo2.png" alt="Image not available" width="110px" />
                                        </div>
                                        <div class="text-center px-2 my-auto">
                                            <h2 class="fw-bold text-brown m-0" style="font-size:22px">BSHEC</h2>
                                            <p class="m-0 mt-2" style="font-size:18px; font-weight:600">Bihar State
                                                Higher
                                                Education Council</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="splide__slide p-3">
                                    <div class="d-flex bg-white p-1" data-aos="fade-up" data-aos-offset="100"
                                    data-aos-duration="2000" style="border:1px dotted #B10400">
                                        <div class="">
                                            <img src="img/logo3.png" alt="Image not available" width="110px" />
                                        </div>
                                        <div class="text-center px-2 my-auto">
                                            <h2 class="fw-bold text-brown m-0" style="font-size:22px">UGC</h2>
                                            <p class="m-0 mt-2" style="font-size:18px; font-weight:600">University
                                                Grants Commission</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="splide__slide p-3">
                                    <div class="d-flex bg-white p-1" data-aos="fade-up" data-aos-duration="800" style="border:1px dotted #B10400">
                                        <div class="">
                                            <img src="img/logo2.png" alt="Image not available" width="110px" />
                                        </div>
                                        <div class="text-center px-2 my-auto">
                                            <h2 class="fw-bold text-brown m-0" style="font-size:22px">STD</h2>
                                            <p class="m-0 mt-2" style="font-size:18px; font-weight:600">Science &
                                                Technology
                                                Department</p>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- quick links end -->

        <!-- feedback start -->
        <div class="row m-0 py-5">
            <div class="col-sm-10 mx-auto">
                <div class="d-flex">
                    <p class="m-0" style="color:rgb(170, 168, 168);">FEEDBACK</p>
                    <hr class="w-25 text-orange">
                </div>
                <h2 class="fw-bold">FEEDBACK<span class="text-brown"> FROM OUR STUDENTS</span></h2>

                <div class="row">
                    <div class="splide splide2" role="group" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <div class="d-flex pt-5 px-5">
                                        <div class="">
                                            <img src="img/t4.jpg" alt="image not available" width="120px" />
                                        </div>
                                        <div class="px-3">
                                            <p><b>“This is best and biggest unified platform for instant online
                                                    learning.
                                                    We can easily access any content of our enrolled course from the
                                                    portal.
                                                    Thank you NOU e-Gyan!!“</b></p>
                                            <h5 style="font-weight:500;font-size:18px;">- Rani Verma - </h5>
                                            <h6 style="font-weight:400;font-size:16px;"> University Student</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="splide__slide">
                                    <div class="d-flex pt-5 px-5">
                                        <div class="">
                                            <img src="img/t3.webp" alt="image not available" width="120px" />
                                        </div>
                                        <div class="px-3">
                                            <p><b>“This is best and biggest unified platform for instant online
                                                    learning. We can easily access any content of our enrolled course
                                                    from the portal. Thank you NOU e-Gyan!!“</b></p>
                                            <h5 style="font-weight:500;font-size:18px;">- Saurabh Tripathi - </h5>
                                            <h6 style="font-weight:400;font-size:16px;"> University Student</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="splide__slide">
                                    <div class="d-flex pt-5 px-5">
                                        <div class="">
                                            <img src="img/t1.jpg" alt="image not available" width="120px" />
                                        </div>
                                        <div class="px-3">
                                            <p><b>“This is best and biggest unified platform for instant online
                                                    learning. We can easily access any content of our enrolled course
                                                    from the portal. Thank you NOU e-Gyan!!“</b></p>
                                            <h5 style="font-weight:500;font-size:18px;">- Avanish Sharma - </h5>
                                            <h6 style="font-weight:400;font-size:16px;"> University Student</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="splide__slide">
                                    <div class="d-flex pt-5 px-5">
                                        <div class="">
                                            <img src="img/t2.jpg" alt="image not available" width="120px" />
                                        </div>
                                        <div class="px-3">
                                            <p><b>“This is best and biggest unified platform for instant online
                                                    learning. We can easily access any content of our enrolled course
                                                    from the portal. Thank you NOU e-Gyan!!“</b></p>
                                            <h5 style="font-weight:500;font-size:18px;">- Krishna Kumari - </h5>
                                            <h6 style="font-weight:400;font-size:16px;"> University Student</h6>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- feedback end -->
		

</section>
</body>
</html>