<html th:replace="~{base::layout(~{::section})}">
	<head></head>
	<body>
		<section>
			<!-- slider like image start -->
        <div class="row header-slider-course m-0">
            <div class="col-sm-12 p-0">
                <div class="row py-5 m-0">
                    <div class="col-sm-10 pt-5 mt-5 mx-auto">
                        <h3>Services<span style="color: #FFA500; margin-left: -20px;">_________</span></h3>
                        <h6 class="text-end text-white"><a href="index.html" style="color:white;text-decoration:none"><i
                                    class="fa-solid fa-house"></i> Home</a> / Services</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider like image end -->


        <!-- main start -->
        <div class="row m-0 py-5">
            <div class="col-sm-11 mx-auto">
                <div class="d-flex" data-aos="fade-up" data-aos-offset="100"
                data-aos-duration="2000">
                    <p class="m-0" data-aos="fade-up" data-aos-offset="100"
                    data-aos-duration="2000" style="color:rgb(170, 168, 168);">FEATURES</p>
                    <hr class="w-25 text-orange">
                </div>
                <h2 class="fw-bold" data-aos="fade-up" data-aos-offset="100"
                data-aos-duration="2000">STUDENT<span class="text-brown">SERVICES</span></h2>
                <div class="row">
                    <div class="col-md-6 my-3 ">
                        <div class="service-cardp p-2 pt-4" data-aos="zoom-in" data-aos-offset="100"
                        data-aos-duration="2000">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="img/services/login.png" class="img-fluid" style="height:10vh;" />
                                </div>
                                <div class="col-10">
                                    <h4><a href="">Login</a></h4>
                                    <p class="pb-3 m-0">Make your way into the portal through the login page where
                                        different users are provided with a username and password to gain access to
                                        theuniversity’s programs and other learning related materials</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 my-3 ">
                        <div class="service-cardp p-2 pt-3" data-aos="zoom-in" data-aos-offset="100"
                        data-aos-duration="2000">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="img/services/dashboard.png" class="img-fluid" style="height:10vh;" />
                                </div>
                                <div class="col-10">
                                    <h4><a href="">Dashboard</a></h4>
                                    <p class="pb-3 m-0">The AI-based dashboard will serve as an administrative home page
                                        to access key Information about Course Details, Assignments, Quizzes/MCQs,
                                        Self-Learning Materials, Course Catalogue, Progress Report, Notifications and
                                        other useful tabs. There is a provision for Help to guide ad navigate through
                                        the portal.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 my-3 ">
                        <div class="service-cardp p-2 pt-4" data-aos="zoom-in" data-aos-offset="100"
                        data-aos-duration="2000">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="img/services/online-course.png" class="img-fluid" style="height:10vh;" />
                                </div>
                                <div class="col-10">
                                    <h4><a href="">Self-Learning Material</a></h4>
                                    <p class="pb-3 m-0">IThe students enrolled in the university have a wide range of
                                        courses available online covering different subjects. These courses include
                                        videos, images, word/PDF files,external links, assignments and quizzes for their
                                        study material.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 my-3 ">
                        <div class="service-cardp p-2 pt-4" data-aos="zoom-in" data-aos-offset="100"
                        data-aos-duration="2000">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="img/services/e-content.png" class="img-fluid" style="height:10vh;" />
                                </div>
                                <div class="col-10">
                                    <h4><a href="">e-Books</a></h4>
                                    <p class="pb-3 m-0">The E-Books will give a digital access to the self- learning
                                        material that are course related e-Contents, presentations, PDF or Word file
                                        notes, videos and external links and self-assessment materials for the students
                                        like assignments and quizzes on a single platform.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 my-3 ">
                        <div class="service-cardp p-2 pt-4" data-aos="zoom-in" data-aos-offset="100"
                        data-aos-duration="2000">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="img/services/self-assess.png" class="img-fluid" style="height:10vh;" />
                                </div>
                                <div class="col-10">
                                    <h4><a href="">Self-Assessment Tools</a></h4>
                                    <p class="pb-3 m-0">Self-Assessment allows the student to analyse and evaluate their
                                        academic performance through various Self-Assessment tools like e-Contents,
                                        Videos, assignments, quizzes/MCQs, external links and others. The
                                        self-assessment also enables testing the progress and learn better.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 my-3 ">
                        <div class="service-cardp p-2 pt-4" data-aos="zoom-in" data-aos-offset="100"
                        data-aos-duration="2000">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="img/services/performance.png" class="img-fluid" style="height:10vh;" />
                                </div>
                                <div class="col-10">
                                    <h4><a href="">Performance</a></h4>
                                    <p class="pb-3 m-0">The enrolled students will have courses ranging from certificate
                                        to degree course. The progress reports of these courses can be monitored by the
                                        students on their portal and give the student an in-depth analysis of the
                                        progress.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 my-3 ">
                        <div class="service-cardp p-2 pt-4" data-aos="zoom-in" data-aos-offset="100"
                        data-aos-duration="2000">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="img/services/feedback.png" class="img-fluid" style="height:10vh;" />
                                </div>
                                <div class="col-10">
                                    <h4><a href="">Feedback</a></h4>
                                    <p class="pb-3 m-0">Constructive feedback from students is a valuable resource for
                                        improving the learning process. The portal allows the students to provide
                                        feedback to address aspects of the course and self-learning material.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 my-3 ">
                        <div class="service-cardp p-2 pt-4" data-aos="zoom-in" data-aos-offset="100"
                        data-aos-duration="2000">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="img/services/course-cata.png" class="img-fluid" style="height:10vh;" />
                                </div>
                                <div class="col-10">
                                    <h4><a href="">Course Catalogue</a></h4>
                                    <p class="pb-3 m-0">The course catalogue is a document that lists the courses
                                        available in the university with a complete and brief description of each
                                        course. This course catalogue also provides a description that includes
                                        important details of the course like credits, course durations, modules,
                                        prerequisites and more.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- main end -->
					
		</section>
	</body>
</html>